
/* keyframes */
.loader-wrapper {
    position: fixed;
    z-index: 100;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: #fafafa;
}

.loader {
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    border-top: 2px solid #141E30;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    /* margin-right: -60px; */
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-bottom-1 {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}


@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {

        .form-item .form-textbox {
            padding-left: 15px !important;
            -webkit-appearance: none;
        }
    }
}