@import url('https://fonts.googleapis.com/css?family=Nunito:300,400&display=swap');

html {
    height: 100%;
}

body {
    font-size: 13px;
    font-weight: 300;
    height: 100%;
    background-color: #fdfdfd;
    position: relative;
    font-family: 'Nunito', sans-serif;
    color: #363636;
}


.hr {
    height: 1px;
    width: 100%;
    background-color: #d6d6d6;
    margin: 0px 15px 8px 15px;
}

.bg-gary {
    background-color: #F2F2F2;
}

.row {
    padding-left: 1rem;
    padding-right: 1rem;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    transition: transform .4s ease-in-out;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.blanket {
    border-radius: 8px;
    background-color: #fff;
    /* padding: 12px 0px 12px 0px; */
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

.center {
    margin: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sub-heading {
    font-size: 24px;
    color: #414141;
    font-weight: 400;
}

.btn {
    background-color: #2C426A;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    height: 35px;
    width: 100%;
}

.btn.btn-outline {
    background-color: #fff;
    color: #141E30;
    border: 1px solid #141E30;
}

.btn.btn-outline.light-blue{
    background-color: #fff;
    color: #1E51AF;
    border: 1px solid #1E51AF;
}

.btn.btn-outline.white {
    border: 1px solid #D6D6D6;
    color: #050504;
}

.btn.red {
    background-color: #BA3949;
}

.btn.yellow {
    background-color: #E8AC0C;
}

.btn.red:active {
    color: #fff;
}

.btn.light-blue {
    background-color: #1E51AF;
}

.btn.light-blue:active,
.btn.light-blue:hover {
    color: #fff;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
}

.btn:hover {
    color: #fff;
}

.btn.btn-outline.light-blue:hover{
    color:#1E51AF;
}

.text-gray {
    color: #707070;
}

.table-wrapper .btn:hover {
    color: #fff;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
}

.disable {
    cursor: no-drop;
    background-color: #f0f0f0;
    opacity: .7;
}

.topbar {
    padding: 1rem;
}

.topbar a {
    position: relative;
}

.topbar span {
    position: absolute;
    font-size: 18px;
    left: 20px;
    top: 0px;
    line-height: 21px;
    color: #000;
}

.page-heading p {
    font-size: 32px;
    font-weight: bold;
}

.page-heading span {
    font-size: 17px;
    color: #707070;
}

.record-wrapper {
    padding-top: 10px;
    overflow: auto;
    height: 550px;
}

#loginForm {
    width: 300px;
    margin: 0 auto;
}

#loginForm input {
    width: 100%;
    border: 0px;
    border-bottom: 2px solid #DFDFDF;
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: all .5s;
}

#loginForm input:focus {
    outline: -webkit-focus-ring-color auto 0px;
    border-bottom: 2px solid #141E30;
}

#loginForm input.error {
    border-bottom: 2px solid #BA3949;
}

#notes {
    position: absolute;
    bottom: 20px;
    left: 0px;
    text-align: center;
    width: 100%;
}

#notes p {
    font-size: 14px;
    color: #707070;
}

.doc-title {
    font-size: 18px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    line-height: 32.8px;
    position: relative;
}

.doc-del-btn {
    position: absolute;
    top: 14px;
    right: 35px;
    display: none;
    cursor: pointer;
}

.doc-del-btn img {
    height: 12px;
    width: 12px;
}

#addDoctorBtn {
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    background-color: #D8D8D8;
    padding: 5px;
    line-height: 32.8px;
    cursor: pointer;
}

#addDoctorBtn:active {
    background-color: #979797;
}

#timeSlot-0 {
    display: none;
}

.addtimeSlotBtn {
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    background-color: #D8D8D8;
    padding: 10px;
    line-height: 18px;
    cursor: pointer;
}

.addtimeSlotBtn:active {
    background-color: #979797;
}


/* tab */
.tabs-wrapper {
    background-color: #F0F0F0;
    height: 44px;
    border-radius: 4px;
}

.tab {
    padding: 10px;
    height: 32px;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.tab.active {
    background-color: #fff;
}

.tabcontent,
.tabcontent2 {
    display: none;
}

.tabcontent .form-label {
    line-height: 38px;
}

.tabcontent #testDetailForm .form-label,
.tabcontent #test2DetailForm .form-label {
    line-height: 14px;
}

.testResult .form-row {
    padding: 0px 5px 0px 5px;
}

.del-btn {
    width: 38px;
    height: 38px;
    border: 1px solid #D6D6D6;
    color: #050504;
    margin: 0 auto;
    border-radius: 4px;
    position: relative;
}

.del-btn img {
    position: absolute;
    top: 17px;
    left: 12px;
}

/* end of tab */


/* table */

.table-wrapper {
    padding: 20px;
}

.resultStatus span {
    position: relative;
    min-width: 50px;
    display: inline-block;
}

.resultStatus .statusDot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 15px;
}

.statusDot.green {
    background-color: #1CC88A;
}

.statusDot.red {
    background-color: #BA3949;
}





/* end of table */

.scan-wrapper {
    border-radius: 4px;
    border: 1px solid #D6D6D6;
    background-color: #F0F0F0;
    min-height: 500px;
    padding: 10px;
}


.info-title {
    color: #9B9B9B;
    display: block;
    font-size: 12px
}

.info-value {
    color: #363636;
    font-size: 14px;
}

.info-value.text-red {
    color: #BA3949;
}

.info-value.text-yellow {
    color: #E8AC0C;
}

.info-value.text-green {
    color: #1CC88A;
}

.text-red {
    color: #BA3949;
}

.text-green {
    color: #1CC88A;
}

.text-yellow {
    color: #E8AC0C;
}

.injBtn {
    border: 1px solid #141E30;
    position: relative;
    cursor: pointer;
    transition: all .5s;
}

.injBtn.disable {
    cursor: no-drop;
    background-color: #f0f0f0;
    opacity: .5;
}


.injBtn div {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.injBtn img {
    width: 42px;
    height: 42px;
}

.injBtn span {
    margin-top: 1rem;
    font-size: .8rem;
    display: block;
}

.injBtn.disable:active {
    text-decoration: none;
    background-color: #f0f0f0;
    opacity: .5;
}

.injBtn:active {
    background-color: #d6d6d6;
}


#doctorOrder .form-row,
#sig .form-row {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
}

#doctorOrder .ans,
#sig .ans {
    background-color: #D6D6D6;
    width: 40px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
}

#doctorOrder .ans.right,
#sig .ans.right {
    color: #fff;
    background-color: #3982F3;

}

#doctorOrder .ansExp,
#doctorOrder .ansExp {
    color: #3982F3;
}



#allergyHistory .form-row {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
}

#allergyHistory .allergyAns {
    background-color: #D6D6D6;
    width: 40px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
}

#allergyHistory .allergyAns.right {
    color: #fff;
    background-color: #3982F3;

}

#allergyHistory .allergyAnsExp {
    color: #3982F3;
}

#lotNumber {
    border-radius: 4px 0px 0px 4px;
}

#scanLotBtn {
    border-radius: 0px 4px 4px 0px;
    background-color: #D8D8D8;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    color: #707070;
}

#scanLotBtn:active {
    background-color: #979797;
    color: #050504;
}

#credActionBtn-wrapper .btn {
    height: 34px;
}

.jconfirm .jconfirm-box.jconfirm-type-blue {

    border-top: solid 7px #1B4f91;
    animation-name: none;
}

.accountTitle {
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #f0f0f0;
    padding: 10px;
}

.creatAcBtn-wrapper {
    position: relative;
    border-left: 1px solid #D8D8D8;
    text-align: center;
    max-height: 250px;
}

.creatAcBtn-wrapper .btn {
    position: relative;
}

.empty-ele {
    height: 47px;
    margin-bottom: 1rem;
}

.card {
    padding: 10px;
    height: 92px;
}

.card-img {
    text-align: center;
    line-height: 72px;
}

.card p {
    font-size: 1.2rem;
    /* font-weight: bold;; */
}

.card:hover {
    cursor: pointer;
    transition: all .3s;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.2);
}

.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 42px;
    border-radius: 8px;
    border:1px solid #D6D6D6;
}

.file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 40px;
    line-height:25px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
}

.file-upload-wrapper:before {
    content: 'Upload';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 40px;
    background: #d6d6d6;
    color: #959595;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: 40px;
    padding: 0 15px;
    /* text-transform: uppercase; */
    pointer-events: none;
    border-radius: 0 5px 5px 0;
}

.file-upload-wrapper:hover:before {
    background: #d1d1d1;
}

.file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}

#importExcel span{
    font-size:1rem;
}

#importExcel b{
    color:#000;
}

#importExcel #sample{
    background-color: #d6d6d6;
    border-radius: 8px;
    padding:10px;
}


#excelInfo p,
#stAcDetail p{
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 36px;
}

.note-text{
    font-size:16px;
    color:#5B5B5B;
}

.excelInfoTable tr:first-child{
    border-bottom: 1px solid #d6d6d6;
}

.excelInfoTable tr:nth-child(even) {
    background-color: #f6f6f6;
}

.excelInfoTable td,
.excelInfoTable th{
    padding:8px;
}

#stAcDetail{
    width:500px;
}


footer{
    position: absolute;
    /* left: 0; */
    right: 25px;
    bottom: 0;
    width: 100%;
    height: 25px;
    text-align: right;
}

.copyright{
    color:#979797;
    font-size: 11px;
}



/* keyframes */
.loader-wrapper {
    position: fixed;
    z-index: 100;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: #fafafa;
}

.loader {
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    border-top: 2px solid #141E30;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    /* margin-right: -60px; */
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-bottom-1 {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}


@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {

        .form-item .form-textbox {
            padding-left: 15px !important;
            -webkit-appearance: none;
        }
    }
}