table{
    font-size:12px;
}

th,
td {
    /* text-align: center; */
    vertical-align: baseline!important;
    /* height: 20px; */
    line-height: 20px;
}

.page-item.active .page-link {
    background-color: #141E30;
    border-color: #141E30;
}

.dataTables_filter label {
    float: right;
}

.dataTables_filter .btn {
    height: 31px;
    font-size: 0.875rem;
    max-width: 255px;
    width: auto;
    line-height: 31px;
    padding:0px;
    margin-left:5px;
    padding-right:5px;
}

.btn.remove {
    background-color: #BA3949;
}

.dataTables_filter .btn:active {
    background-color: #BA3949 !important;
    color: #fff !important;
}

.dataTables_filter .btn img {
    width: 30px;
    height: 12px;
    position: relative;
    top: -2px;
}

td a img{
    width:14px;
    height:14px;
}

table input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.tableBtn{
    text-align: center;
    padding:5px;
    border:1px solid #E4E4E4;
    color:#5A5A5A;
    background-color: #fff;
    border-radius: 4px;
    max-width: 80px;
    /* margin: 0 auto; */
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.15);
}

.tableBtn img{
    width: 12px;
    height: 12px;
    position: relative;
    top:-2px;
    margin-right: 5px;
}

.tableBtn:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.35);
}

.btn-group{
    height: 30px;
    /* font-size: 12px; */
}

.btn-group label{
    font-size: 12px;
    padding:5px;
    line-height: 20px;
    height: 30px;
} 

.btn-group .btn{
    border:0px;
}

.btn-group label:not(:active){
}

/* The container */
table .container {
    display: block;
    position: relative;
    /* padding-left: 35px; */
    margin-bottom: 17px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
table .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #2196F3;
    border: 1px solid #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


@media screen and (max-width:600px) {
    .dataTables_filter .btn{
        width: 100%;
    }
    
    .search-wrapper{
        width: 100%;
        margin-top:10px;
    }
    #search{
        width: 100%;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 1px solid #ddd;
        display: block;
        margin-bottom: 30px;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
      }

      table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      table td:last-child {
        border-bottom: 0;
      }
}