a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 205px;
    max-width: 205px;
    background: #fff;
    color: #050504;
    transition: all 0.3s;

    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
}

.userImg-wrapper{
    width: 40px;
    height: 76px;
    display: inline-block;
    margin-right:10px;
}

.userImg-wrapper img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user-wrapper span{
    display: inline-block;
    line-height: 76px;
}

#sidebar.active {
    margin-left: -205px;
}

#sidebar .sidebar-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #D9D9D9;
}

#sidebar p{
    margin: 0px;
}

#sidebar ul.components {
    /* padding: 20px 0;
    border-bottom: 1px solid #47748b; */
}

#sidebar ul.components .user-wrapper{
    padding-left:20px;
    border-bottom: 1px solid #D9D9D9;
    height: 76px;
}
.user-wrapper p{
    line-height: 56px;
}

#sidebar ul p {
    color: #050504;
    padding: 10px;
}


#sidebar ul li a {
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    display: block;
    padding-left:30px;
    height: 44px;
}

#sidebar ul li a:hover {
    color: #141E30;
    background: rgba(144,144,144,.3);
    border-left:5px solid #141E30;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    /* border-left:5px solid #141E30; */
    color: #141E30;
    /* background: rgba(144,144,144,0.1); */
}

#sidebar ul li.active{
    border-left:5px solid #141E30;
    color: #141E30;
    background: rgba(144,144,144,0.1);
    /* pointer-events: none; */
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 60px !important;
    /* background: rgba(144,144,144,0.1); */
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}