html,
body {
    height: 100%;
}

.userLabel{
    display:none;
    position: fixed;
    top:10px;
    left:18px;
    width: 100%;
    top:20px;
    left:25px;
    /* z-index: 1; */
    overflow-x: hidden;
    /* height: 20%; */
}

.userLabel p{
    color:#383838;
    font-size: 22px;
    font-weight: 500;
}

.sidebar {
    display:none;
    width: 200px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -13;
    background: transparent;
    /* background: #35495E; */
    overflow-x: hidden;
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.sidebar a{
    display: block;
    color:#6C6C6C;
    padding-top:18px;
    padding-bottom:18px;
    font-size:16px;
    width:200px;
}

.sidebar a img{
    width: 19px;
    height: 19px;
    margin-right: 10px;
    /* fill:#1B4F91; */
    /* filter: invert(19%) sepia(75%) saturate(1895%) hue-rotate(199deg) brightness(93%) contrast(84%); */
}

.sidebar a i{
    padding-right:15px;
}

.wrapper {
    width: 100%;
    height: 100%;
    transition: transform .4s ease-in-out;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.zoom {
    /* margin-left:250px; */
    -ms-transform: translate(140px) scale(0.8);
    /* IE 9 */
    -webkit-transform: translate(140px) scale(0.8);
    /* Safari 3-8 */
    transform: translate(120px) scale(0.8);
}

.trigger{
    position: fixed;
    z-index: -99;
    height:100%;
    width:100%;
    transform: translate(120px) scale(0.8);
}