@import url('https://fonts.googleapis.com/css?family=Nunito:300,400&display=swap');

body {
    font-size: 16px;
    /* font-family: 'avenir'; */
    font-weight: 200;
    height: 100%;
    /* background-color: #e5e5e5; */
    position: relative;
    font-family: 'Nunito', sans-serif;
}

input:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

#loginForm {
    width: 300px;
    margin: 0 auto;
}

#loginForm input {
    width: 100%;
    border: 0px;
    border-bottom: 2px solid #DFDFDF;
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: all .5s;
}

#loginForm input:focus {
    outline: -webkit-focus-ring-color auto 0px;
    border-bottom: 2px solid #29323C;
}

#loginForm input.error {
    border-bottom: 2px solid #BA3949;
}

.forgetPw-wrapper {
    font-size: 14px;
    text-align: right;
}

.forgetPw-wrapper a,
.reg-wrapper a {
    color: #050504
}

.reg-wrapper {
    font-size: 14px;
    color: #919191;
    ;
}

#loginForm .btn {
    height: 40px;
    line-height: 40px;
}

#verCode-wrapper {
    text-align: center;
}

.verCode-inner {
    width: 345px;
    margin: 0 auto;
}

#verCode-wrapper input {
    padding-left: 36px !important;
    max-width: 345px;
    position: relative;
    width: 100%;
    border: 0px;
    line-height: 1.5;
    padding: .375rem .75rem;
    letter-spacing: 45px;
}

#verCode-wrapper .line {
    /* position: absolute;
    top: 36px;
    left: -15px; */
    width: 345px;
    height: 2px;
    background-image: linear-gradient(to right, transparent 50%, #223049 50%);
    background-size: 54px 100%;
}

.container {
    animation: fadein .75s;
    -moz-animation: fadein .75s;
    /* Firefox */
    -webkit-animation: fadein .75s;
    /* Safari and Chrome */
    -o-animation: fadein .75s;
    /* Opera */
    margin-bottom:15px
}

.blanket {
    border-radius: 14px;
    background-color: #fff;
    padding: 12px 0px 12px 0px;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    margin-bottom: 15px;
}

#vaxBookingCard-wrapper {
    overflow: auto;
    height: 300px;
    padding-top: 5px;
}

#vsp-wrapper {
    padding-top: 5px;
    overflow: auto;
    height: 600px;
}

#vaxBooking-wrapper .blanket {
    min-height: 200px;
}

.page-heading p {
    font-size: 32px;
}

.page-heading span {
    font-size: 14px;
    color: #707070;
}

.sub-heading {
    font-size: 22px;
    color: #050504;
    font-weight: 400;
    display: inline-block;
}

.notification {
    display: inline-block;
    width: 28px;
    text-align: center;
    background-color: #FFB400;
    border-radius: 4px;
    color: #fff;
}

.info-head {
    color: #9B9B9B;
    display: block;
    font-size: 12px
}

.info-value {
    color: #050504;
    font-size: 1rem;
}

.vaxStatus {
    border-radius: 25px;
    position: relative;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
}

.vaxStatus.right {
    border: 1px solid #5BB8B2;
}

.vaxStatus.pending {
    border: 1px solid #FFB400;
}

.vaxStatus .statusDot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 15px;
}

.vaxDetailStatus .statusDot {
    border-radius: 50%;
    height: 14px;
    width: 14px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 20px;
}

.vaxStatus.right .statusDot,
.vaxDetailStatus.right .statusDot {
    background-color: #5BB8B2;
}

.vaxStatus.pending .statusDot,
.vaxDetailStatus.pending .statusDot {
    background-color: #FFB400;
}

.vaxDetailStatus {
    position: relative;
}

.cardNote {
    font-size: 10px;
    text-align: center;
    color: #B4B8BC
}

.center {
    margin: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.correct img {
    width: 66px;
    height: 66px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center.instruct {
    top: 90%;
    left: 50%;
    color: #999fa4;
    font-size: 14px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dot {
    height: 144px;
    width: 144px;
    border-radius: 50%;
    background-image: linear-gradient(#485563, #29323C);
    display: inline-block;
}

.successMsg {
    position: relative;
    color: #414141;
    font-size: 22px;
    top: 100px;
}

/* top bar */
.backBtn,
.sidebarBtn {
    z-index: 99;
    float: left;
    font-size: 23px;
}

.topbar a {
    position: relative;
}

.topbar span {
    position: absolute;
    font-size: 18px;
    left: 20px;
    top: 3px;
    line-height: 21px;
    color: #000;
}


.topbar span.logo-text{
    font-size: 20px;
    font-weight: bold;
    margin:0 auto;
    position: unset;
}

/* sidebar */

.sidebarBtn {
    color: #29323C;
    position: absolute;
}


/* form */
.form-item {
    position: relative;
    margin-bottom: 1rem;
}

.form-item .form-textbox {
    height: 3.3em;
    width: 100%;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    padding-top: 1.05882rem;
    padding-left: .94118rem;
    padding-right: .94118rem;
}

.form-item select.form-textbox {
    padding-left: 12px;
    background: #fff;
}

.form-item .form-label {
    position: absolute;
    top: 15px;
    left: 17px;
    font-size: 16px;
    color: #919191;
    pointer-events: none;
    transition: all .3s;

}

.form-item input:focus~.form-label,
.form-item input:valid~.form-label,
.form-item select:focus~.form-label,
.form-item select:valid~.form-label {
    color: #919192;
    font-size: 12px;
    top: .4rem;
}

.form-item input.error,
.form-item select.error {
    background-color: #FEF0f0;
    border: 1px solid #BA3949;
}

.form-item input.error~.form-label,
.form-item select.error~.form-label {
    color: #BA3949;
    font-size: 12px;
    top: .4rem;
}

.form-item .inputExp {
    font-size: 14px;
    color: #6C6C6C;
}

form .btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    background-image: linear-gradient(#485563, #29323C);
    border-radius: 14px;
}

form .btn:not(:disabled):not(.disabled):active {
    background-image: linear-gradient(#485563, #29323C);
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
}

form .btn.btn-outline {
    background-image: linear-gradient(#fff, #fff);
    border: 1px solid #29323C;
    color: #29323C;
    transition: all .5s;
}

form .btn.btn-outline:not(:disabled):not(.disabled):active {
    color: #fff !important;
}

.inputNote {
    text-align: center;
    font-size: 14px;
    color: #707070;
}

/* end of form */

.verCodeInput input {
    width: 100%;
    font-size: 22px;
    letter-spacing: 20px;
}

.mainBtn-wrapper .btn {
    position: relative;
    padding: 10px;
    width: 100%;
    height: 150px;
    text-align: left;
    background-image: linear-gradient(#485563, #29323C);
    color: #fff;
    border-radius: 14px;
}

.mainBtn-wrapper .btn img {
    vertical-align: unset;
    max-width: 40px;
    max-height: 36px;
    margin-right: 15px;
    display: inline-block;
}

.mainBtn-wrapper #btn-img-1 {
    position: absolute;
    top: 15px;
    left: 15px;
}


.mainBtn-wrapper #btn-img-2 {
    position: absolute;
    top: 20px;
    right: 0px;
}

.mainBtn-wrapper .btn .btn-text {
    position: absolute;
    left: 15px;
    bottom: 15px;
    display: block;
}

.btn .btn-text p {
    margin-bottom: 0px;
    font-weight: 400;
}

.btn .btn-text span {
    font-size: 14px;
}

.vaxBookingCard {
    margin-bottom: 15px;
}

.emptyCard span {
    color: #707070
}

.btn:not(:disabled):not(.disabled):active {
    background-image: linear-gradient(#485563, #29323C);
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
}

.qrcodeScan {
    min-height: 300px;
    border: 1px solid #919191;
    border-radius: 4px;
}

#vaxHistory-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: top;
}

.vaxHistroyCard {
    min-width: 250px;
    max-width: 250px;
    position: relative;
    display: inline-block;
    margin-right: 1rem !important;
    min-height: 175px;
}

.vaxHistroyCard .status {
    padding: 1px 0px 1px 0px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    margin-left: 15px;
}

.vaxHistroyCard .done.status {
    background-image: linear-gradient(to right, #5bb8b2, #94ddd9);
}

.vaxHistroyCard .pending.status {
    background-image: linear-gradient(to right, #919191, #919191);
}

.vaxHistroyCard .info-value {
    white-space: normal;
}

.historyDetaill-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.historyDetaill-wrapper .detail {
    width: 100px;
    display: inline-block;
}

#bookingTime-wrapper {
    display: none;
    padding: 10px;
    transition: all .5s;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    display: inline-block;
    background-color: transparent;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border:1px solid #29323C;
    border-radius: 4px;
    color:#29323C;
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: #485563;
    color:#fff;
}

/* keyframes */
.loader-wrapper {
    position: fixed;
    z-index: 100;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: #fafafa;
}

.loader {
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    border-top: 2px solid #1B4f91;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    /* margin-right: -60px; */
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-bottom-1 {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {

        .form-item .form-textbox {
            padding-left: 15px!important;
            -webkit-appearance: none;
        }
    }
}