@import url('https://fonts.googleapis.com/css?family=Nunito:300,400&display=swap');

body {
    font-size: 14px;
    /* font-family: 'avenir'; */
    font-weight: 200;
    height: 100%;
    /* background-color: #e5e5e5; */
    position: relative;
    font-family: 'Nunito', sans-serif;
}

.bg-gary {
    background-color: #F2F2F2;
}

.bg-blue {
    /* background-color: #2365BB; */
    background-image: linear-gradient(90deg, #2366BC, #3B85DB);
}

.bg-blue .logo-text {
    color: #fff;
}

.bg-blue .sidebarBtn {
    color: #fff;
}

.hr {
    height: 1px;
    width: 100%;
    background-color: #d6d6d6;
    margin: 0px 15px 8px 15px;
}

input:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.notice {
    padding: 5px;
    background-color: #ffcb4d;
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    position: absolute;
    width: 25px;
    text-align: center;
    top: 2px;
    height: 25px;
}

.notice img {
    height: 16px;
    width: auto;
}

.notes {
    font-size: 17px;
}

.btn-wrapper {
    position: fixed;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    bottom: 30px;
    right: 0px;
    margin-top: 20px;
}

#loginForm {
    width: 300px;
    margin: 0 auto;
}

#loginForm input {
    width: 100%;
    border: 0px;
    border-bottom: 2px solid #DFDFDF;
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: all .5s;
}

#loginForm input:focus {
    outline: -webkit-focus-ring-color auto 0px;
    border-bottom: 2px solid #1B4f91;
}

#loginForm input.error {
    border-bottom: 2px solid #BA3949;
}

.forgetPw-wrapper {
    font-size: 14px;
    text-align: right;
}

.forgetPw-wrapper a,
.reg-wrapper a {
    color: #050504
}

.reg-wrapper {
    font-size: 14px;
    color: #919191;
    ;
}

#loginForm .btn {
    height: 40px;
    line-height: 40px;
}

#verCode-wrapper {
    text-align: center;
}

.verCode-inner {
    width: 345px;
    margin: 0 auto;
}

#verCode-wrapper input {
    padding-left: 36px !important;
    max-width: 345px;
    position: relative;
    width: 100%;
    border: 0px;
    line-height: 1.5;
    padding: .375rem .75rem;
    letter-spacing: 45px;
}

#verCode-wrapper .line {
    /* position: absolute;
    top: 36px;
    left: -15px; */
    width: 345px;
    height: 2px;
    background-image: linear-gradient(to right, transparent 50%, #223049 50%);
    background-size: 54px 100%;
}

.container {
    animation: fadein .75s;
    -moz-animation: fadein .75s;
    /* Firefox */
    -webkit-animation: fadein .75s;
    /* Safari and Chrome */
    -o-animation: fadein .75s;
    /* Opera */
    /* margin-bottom: 15px; */
}

.blanket {
    border-radius: 14px;
    background-color: #fff;
    padding: 12px 0px 12px 0px;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.35);
    margin-bottom: 15px;
    overflow: hidden;
}


#checkIn-wrapper{
    width: 100%;
}

#testRecord-wrapper{
    width: 100%;
}
.checkin-record-wrapper {
    height: 500px;
    position: relative;
    padding-top: 10px;
    overflow-y: scroll;
}

.checkin-record-wrapper .blanket {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
}


.text-white {
    color: #fff;
}

.text-blue {
    color: #007AFF;
}

.text-green {
    color: #1CC88A !important;
}

.info-value.text-red {
    color: #BA3949;
}

.info-value.text-yellow {
    color: #E8AC0C;
}

#arrow {
    -moz-transition: transform .3s;
    -webkit-transition: transform .3s;
    transition: transform .3s;
}

.flip {
    transform: rotate(-180deg);
}

.expand {
    display: none;
}

#RecordCard-wrapper {
    overflow: scroll;
    height: 600px;
    padding: 5px;
}

.content-white-wrapper {
    overflow: auto;
    height: calc(100vh - 150px);
    padding: 5px;
    width: 100%;
}

#wrapper-inner {
    border-radius: 30px 30px 0px 0px;
    padding-top: 25px;
    background-color: #fff;

}

#Record-wrapper .blanket {
    min-height: 200px;
}

.page-heading p {
    font-size: 32px;
    /* font-weight: bold; */
}

.page-heading span {
    font-size: 14px;
    color: #707070;
}

.sub-heading {
    font-size: 22px;
    color: #050504;
    font-weight: 400;
    display: inline-block;
}

.sub-heading span {
    font-size: 14px;
    color: #707070;
}

#shareBtn {
    line-height: 33px;
    text-align: center;
    font-size: 14px;
    background-color: #2366BC;
    color: #fff;
    border-radius: 12px;
}

.smallTitle {
    font-size: 18px;
    font-weight: bold;
}

.notification {
    display: inline-block;
    width: 28px;
    text-align: center;
    background-color: #FFB400;
    border-radius: 4px;
    color: #fff;
}

.info-head {
    color: #9B9B9B;
    display: block;
    font-size: 12px
}

.info-value {
    color: #050504;
    font-size: 1rem;
}

.resultStatus {
    position: relative;
}

.resultStatus .statusDot {
    position: absolute;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 0px;
}

.resultStatus .statusDot.red {
    background-color: #BA3949;
}

.resultStatus .statusDot.yellow {
    background-color: #E8AC0C;
}

.resultStatus .statusDot.green {
    background-color: #1CC88A;
}

.resultStatus span {
    position: relative;
    left: 20px;
}

.Status {
    border-radius: 25px;
    position: relative;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
}

.Status.right {
    background-color: #9DEED5;
}

.Status.pending {
    background-color: #ffcb4d;
}

.Status.pending2 {
    background-color: #FFA12C;
}

.Status .statusDot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 15px;
}

.detailStatus .statusDot {
    border-radius: 50%;
    height: 14px;
    width: 14px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%)
}

.Status.right .statusDot,
.detailStatus.right .statusDot {
    background-color: #23CE97;
}

.Status.pending .statusDot,
.detailStatus.pending .statusDot {
    background-color: #ffb400;
}

.Status.pending2 .statusDot,
.detailStatus.pending2 .statusDot {
    background-color: #FFA12C;
}

.Status.right span {
    color: #00a06f;
}

.Status.pending span {
    color: #cd9000;
}

.Status.pending2 span {
    color: #966315;
}


.detailStatus {
    position: relative;
}

.qaAns {
    background-color: #D8D8D8;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    min-width: 40px;
}

.qaAns.yes {
    background-color: #3982F3;
    color: #fff;
}

.allergyExp {
    color: #3982F3;
}

.cardNote {
    font-size: 10px;
    text-align: center;
    color: #B4B8BC
}

.center {
    margin: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.empty {
    min-height: 200px;
}

.correct img {
    width: 66px;
    height: 66px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center.instruct {
    top: 90%;
    left: 50%;
    color: #999fa4;
    font-size: 14px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dot {
    height: 144px;
    width: 144px;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #2366BC, #3B85DB);
    display: inline-block;
}

.successMsg {
    position: relative;
    color: #414141;
    font-size: 22px;
    top: 100px;
}

/* top bar */
.backBtn,
.sidebarBtn {
    z-index: 99;
    float: left;
    font-size: 23px;
}

.topbar a {
    position: relative;
}

.topbar span {
    position: absolute;
    margin: 0 auto;
    font-size: 18px;
    left: 20px;
    top: 3px;
    line-height: 21px;
    color: #000;
}

.topbar span.logo-text {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    position: unset;
}

.topbar img {
    width: 12px;
    height: 21px;
}

.bg-blue .topbar span {
    color: #fff;
}

/* sidebar */

.sidebarBtn {
    color: #1B4F91;
    position: absolute;
}

/* form */
.form-item {
    position: relative;
    margin-bottom: 1rem;
}

.form-item .form-textbox {
    height: 3.3em;
    width: 100%;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    padding-top: 1.05882rem;
    padding-left: .94118rem;
    padding-right: .94118rem;
    -webkit-appearance: none;
}

.form-item select.form-textbox {
    padding-left: 15px;
    background: #fff;
}

.form-item .form-label {
    position: absolute;
    top: 15px;
    left: 17px;
    font-size: 16px;
    color: #919191;
    pointer-events: none;
    transition: all .3s;

}

.form-item input:focus~.form-label,
.form-item input:valid~.form-label,
.form-item select:focus~.form-label,
.form-item select:valid~.form-label {
    color: #919192;
    font-size: 12px;
    top: .4rem;
}

.form-item input.error,
.form-item select.error {
    background-color: #FEF0f0;
    border: 1px solid #BA3949;
}

.form-item input.error~.form-label,
.form-item select.error~.form-label {
    color: #BA3949;
    font-size: 12px;
    top: .4rem;
}

.form-item .inputExp {
    font-size: 14px;
    color: #6C6C6C;
}

form .btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    background-image: linear-gradient(90deg, #2366BC, #3B85DB);
    border-radius: 14px;
}

form .btn.btn-outline {
    background-image: linear-gradient(#fff, #fff);
    border: 1px solid #2366BC;
    color: #2366BC;
}

form .btn.btn-outline:active {
    color: #fff !important;
}

form .btn:not(:disabled):not(.disabled):active {
    /* background-image: linear-gradient(#2366BC, #1B4F91);
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75); */
}

.inputNote {
    text-align: center;
    font-size: 14px;
    color: #707070;
}

/* end of form */

.verCodeInput input {
    width: 100%;
    font-size: 22px;
    letter-spacing: 20px;
}

.mainBtn-wrapper .btn {
    position: relative;
    padding: 10px;
    width: 100%;
    min-height: 85px;
    text-align: center;
    background-color: #fff;
    color: #0E3970;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-box-shadow: 0px 0px 15px -8px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 15px -8px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 15px -8px rgba(255, 255, 255, 1);
}

.mainBtn-wrapper .btn img {
    vertical-align: unset;
    max-width: 33px;
    max-height: 40px;
    min-height: 35px;
}

.mainBtn-wrapper .btn span {
    display: block;
}

;

.btn .btn-text p {
    margin-bottom: 0px;
    font-weight: 400;
}

.btn .btn-text span {
    font-size: 14px;
}

.smallBtn {
    color: #fff;
    background-color: #007AFF;
    border-radius: 10px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.smallBtn.red {
    background-color: #BA3949;
}

#editBtn {
    color: #007AFF;
    background-color: #fff;
    border: 1px solid #007AFF;
}

#editBtn span::before {
    content: 'Edit';
}

#editBtn.active span::before {
    content: 'Save';
}

#editBtn.active {
    color: #fff;
    background-color: #007AFF;
    border: 0px;
}


#Record-wrapper .row .RecordCard {

    margin-bottom: 15px;
    border-radius: 16px;
}

.emptyCard span {
    color: #707070
}

.btn:not(:disabled):not(.disabled):active {
    /* background-image: linear-gradient(#2366BC, #1B4F91); */
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
}

.qrcodeScan {
    min-height: 300px;
    border: 1px solid #919191;
    border-radius: 4px;
}


.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #D8D8D8;
    padding: 4px 11px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border: 0px solid #29323C;
    border-radius: 4px;
    color: #050504;
    text-align: center;
    margin-top: .5rem;
}

.ans-wrapper.error {
    border-radius: 4px;
    background-color: #FEF0EF;
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: #3982F3;
    color: #fff;
}

.qExp {
    display: none;
}

.qaSection {
    overflow: auto;
    height: 180px;
}

.qaSection .form-row {
    border-radius: 8px;
}

#vaxHistory-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: top;
}

.HistroyCard {
    min-width: 250px;
    max-width: 250px;
    position: relative;
    display: inline-block;
    margin-right: 1rem !important;
    min-height: 175px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.HistroyCard .status {
    padding: 1px 0px 1px 0px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    margin-left: 15px;
}

.HistroyCard .done.status {
    background-image: linear-gradient(to right, #5bb8b2, #94ddd9);
}

.HistroyCard .pending.status {
    background-image: linear-gradient(to right, #919191, #919191);
}

.HistroyCard .info-value {
    white-space: normal;
}

.testRecord .status {
    padding: 1px 0px 1px 0px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    /* margin-left: 15px; */
}

.testRecord .done.status {
    background-image: linear-gradient(to right, #5bb8b2, #94ddd9);
}

.testRecord .pending.status {
    background-image: linear-gradient(to right, #919191, #919191);
}



.detail-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.detail-wrapper .detail {
    width: 100px;
    display: inline-block;
}

#result-wrapper .info-value {
    font-size: 12px;
}


/* tab */
.tabs-wrapper {
    background-color: #F0F0F0;
    height: 52px;
    border-radius: 4px;
}

.tab {
    padding: 10px;
    height: 40px;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
}

.tab.active {
    background-color: #fff;
}

.tabcontent,
.tabcontent2 {
    display: none;
}

.tabcontent .form-label {
    line-height: 38px;
}

.tabcontent #testDetailForm .form-label,
.tabcontent #test2DetailForm .form-label {
    line-height: 14px;
}

.table-wrapper {
    padding: 20px;
}

/* tab 2 ( index page ) */
#tabs-wrapper {
    position: relative;
}

#tabs-wrapper .tab2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    height: 30px;
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 5px;
}

#tabs-wrapper .tab2.active {
    color: rgba(255, 255, 255, 1);
}

#tabs-wrapper .tab2::after {
    content: '';
    position: absolute;
    left: 40%;
    top: 130%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff;
    clear: both;
    opacity: 0;
    z-index: 1;
    transition: top .4s;
    
}

#tabs-wrapper .tab2.active::after {
    opacity: 1;
    top:100%;
    transition-property: all;
    transition-delay: .4s;
}


.testResult .form-row {
    padding: 0px 5px 0px 5px;
}

.del-btn {
    width: 38px;
    height: 38px;
    border: 1px solid #D6D6D6;
    color: #050504;
    margin: 0 auto;
    border-radius: 4px;
    position: relative;
}

.del-btn img {
    position: absolute;
    top: 17px;
    left: 12px;
}

/* end of tab */

/* table */
table thead {
    font-weight: bold;
}

table td {
    padding-left: 10px;
}

tr {
    line-height: 44px;
    border-bottom: 1px solid #D8D8D8;
}

/* end of table */

/* alert */
.jconfirm-closeIcon {
    top: 16px !important;
    right: 16px !important;
}

.jconfirm-box {
    border-radius: 20px !important;
    margin-bottom: 0px !important;
}

.alertTitle {
    font-weight: bold;
    font-size: 18px;
}

.alertBtn {
    width: 100%;
    height: 40px;
    line-height: 40px !important;
    padding: 0px !important;
    color: #fff !important;
    font-size: 18px;
    font-weight: 300;
    background-image: linear-gradient(90deg, #2366BC, #3B85DB) !important;
    border-radius: 20px !important;
    text-transform: unset !important;
}

.alertBtn.red {
    background-image: linear-gradient(#BA3949, #BA3949) !important;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
    overflow: hidden;
}

#recordShare {
    text-align: center;
    max-height: 450px;
    overflow: scroll;
}

#recordShare input[type=checkbox] {
    margin-top: 6px;
    width: 20px;
    height: 14px;
}

#recordShare .checkbox-wrapper {
    padding-right: 30px;
}

#recordShare #title {
    border-bottom: 1px solid #d6d6d6;
    padding-top: 10px;
    padding-bottom: 10px;
}

#recordShare .data {
    border-bottom: 1px solid #d6d6d6;
}

#recordShare .form-row {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}


#recordShare .form-row [class*=col-] {
    height: 32px;
    line-height: 28px;
}

#recordShare .expandBtn {
    cursor: pointer;
}

#recordShare .expandBtn:after {
    font-size: 18px;
    margin-top: -3px;
    color: #223049;
    content: '\002B';
}

.expandBtn.active:after {
    content: "\2212";
}

#recordShare .expandData {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0px;
}

#recordShare .expandData.active {
    max-height: 150px;
    height: 60px;
}

#recordShare .expandData .info-value,
#recordShare .expandData .info-head {
    font-size: 12px;
}

#accessDetail #recordShare input[type=checkbox] {
    display: none;
}

#accessDetail #recordShare input[type=checkbox].active {
    display: block;
}

/* end of alert */

/* checkbox  */

.cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    line-height: 178px;
}

.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
    left: 5px;

}

.cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #2196F3;
    display: block;
    transform: scale(0);
    opacity: 0;
    border-radius: 50%;
}

.cbx span:last-child {
    padding-left: 8px;
}

.cbx:hover span:first-child {
    border-color: #2196F3;
}

.inp-cbx:checked+.cbx span:first-child {
    background: #2196F3;
    border-color: #2196F3;
    animation: wave 0.4s ease;
}

.inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.inp-cbx:checked+.cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

/* end of checkbox  */

#declRequest .img-wrapper {
    margin-bottom: 20px;
    margin-top: -15px;
}

#declRequest img {
    width: 100%;
}

#statement .statement-wrapper {
    height: 350px;
    overflow: scroll;
    font-size: 17px;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 12px;
}

#statement .statementNotes {
    font-size: 15px;
    color: #707070;
}

#statement .form-check label {
    font-size: 17px;
    font-weight: bold;
}

.whitelistPath {
    height: 12px;
    width: auto;
    margin-top: -5px;
}

#shareRecord .form-check-input {
    margin-top: -5px;
}

footer {
    position: unset;
    margin-top: 15px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 15px;
    text-align: center;
}

.copyright {
    color: #979797;
    font-size: 11px;
}

/* keyframes */
.loader-wrapper {
    position: fixed;
    z-index: 100;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: #fafafa;
}

.loader {
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    border-top: 2px solid #1B4f91;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    /* margin-right: -60px; */
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-bottom-1 {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}


@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {

        .form-item .form-textbox {
            padding-left: 15px !important;
            -webkit-appearance: none;
        }
    }
}

@media screen and (max-height: 667px) {
    .btn-wrapper {
        position: relative;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        bottom: 0px;
        right: 0px;
        margin-top: 20px;
    }
}