input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-outer-spin-button  {
    -webkit-appearance: none;
}

.appointmentForm .form-group,
#resultUpdate .form-group{
    border:1px solid #D6D6D6;
    margin-bottom: 0px;
    border-radius: 4px;
    margin-right:5px;
    padding:0px;
}

.appointmentForm .form-group select,
#resultUpdate .form-group select{
    height: 35px;
    width: 100%;
    outline: none;
    border: 0px;
}


.form-item {
    position: relative;
    margin-bottom: 1rem;
}

.form-item .form-textbox {
    min-height: 3.3em;
    width: 100%;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    padding-top: 1.05882rem;
    padding-left: .94118rem;
    padding-right: .94118rem;
    -webkit-appearance: none;
}

.form-item select.form-textbox {
    padding-left: 14px;
    background: #fff;
}

.form-item .form-label {
    position: absolute;
    top: 13px;
    left: 17px;
    font-size: 14px;
    color: #919191;
    pointer-events: none;
    transition: all .3s;

}

.form-item input:focus~.form-label,
.form-item input:valid~.form-label,
.form-item select:focus~.form-label,
.form-item select:valid~.form-label,
.form-item textarea:focus~.form-label,
.form-item textarea:valid~.form-label {
    color: #919192;
    font-size: 12px;
    top: .4rem;
    left:1.25rem
}


.form-item textarea:focus~.form-label,
.form-item textarea:valid~.form-label{
   /* padding-top:1.5rem; */
   top:.4rem;
}

.form-item textarea{
    padding-top:1.5rem!important;
}

.form-item input.error,
.form-item select.error,
.form-item textarea.error,
.form-item select:invalid{
    background-color: #FEF0f0;
    border: 1px solid #BA3949;
}

.form-item input.error~.form-label,
.form-item select.error~.form-label,
.form-item textarea.error~.form-label,
.form-item select:invalid~.form-label {
    color: #BA3949;
    font-size: 12px;
    top: .4rem;
    left:1.25rem;
}

.form-item .inputExp {
    font-size: 14px;
    color: #6C6C6C;
}

form .btn {
    width: 100%;
    width: 250px;
    height: 40px;
    line-height: 40px;
    padding: 0px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

form .btn:not(:disabled):not(.disabled):active {
    background-color: #1B4f91;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
}

form .btn.btn-outline:active,
form .btn.btn-outline.white:active{
    background-color:#fff ;
}

.inputNote {
    text-align: center;
    font-size: 14px;
    color: #707070;
}

.form-item .inputExp {
    font-size: 14px;
    color: #6C6C6C;
}

.btn-wrapper{
    float:right;
}

.flForm .btn-wrapper{
    float: right;
    position: fixed;
    bottom:30px;
    right:20px;
}

.blanket .form-row{
    padding:0px 15px 0px 15px;
}

.disable{
    background-color: #d6d6d6;
    cursor: no-drop;
    pointer-events:none;
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {

        .form-item .form-textbox {
            padding-left: 15px!important;
            -webkit-appearance: none;
        }
    }
}
