@import url('https://fonts.googleapis.com/css?family=Nunito:300,400&display=swap');

html {
    height: 100%;
}

body {
    font-size: 14px;
    font-weight: 300;
    height: 100%;
    /* background-color: #e5e5e5; */
    position: relative;
    font-family: 'Nunito', sans-serif;
    color:#050504;
}

.bg-gary{
    background-color: #F2F2F2;
}

.row{
    padding-left:1rem;
    padding-right: 1rem;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    transition: transform .4s ease-in-out;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.blanket{
    border-radius: 4px;
    background-color: #fff;
    /* padding: 12px 0px 12px 0px; */
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    margin-bottom: 15px;
}

.center {
    margin: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sub-heading{
    font-size:24px;
    color:#414141;
}

.btn{
    background-color: #1B4f91;
    font-size:14px;
    color:#fff;
    border-radius: 4px;
    height:35px;
    width: 100%;
}

.btn.btn-outline{
    background-color: #fff;
    color:#1B4f91;
    border:1px solid #1B4f91;
}

.btn.btn-outline.white{
    border:1px solid #D6D6D6;
    color:#050504;
}

.btn:hover{
    color:#fff;
}

.btn.red{
    background-color: #BA3949;
}

.btn.red:active{
    color:#fff;
}

.btn.update{
    height: 66px;
    line-height: 54px;
    font-size: 16px;
}

.btn.issue{
    height: 45px;
    line-height: 33px;
}

.topbar{
    padding:1rem;
}

.topbar a {
    position: relative;
}

.topbar span {
    position: absolute;
    font-size: 18px;
    left: 20px;
    top: 0px;
    line-height: 21px;
    color: #000;
}

.page-heading p {
    font-size: 32px;
    font-weight: bold;
}

.page-heading span {
    font-size: 17px;
    color: #707070;
}

.gary-text{
    color: #707070;
}

.hr{
    height:1px;
    width: 100%;
    background-color: #d6d6d6;
    margin-top:8px;
    margin-bottom: 8px;
}

#loginForm {
    width: 300px;
    margin: 0 auto;
}

#loginForm input {
    width: 100%;
    border: 0px;
    border-bottom: 2px solid #DFDFDF;
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: all .5s;
}

#loginForm input:focus {
    outline: -webkit-focus-ring-color auto 0px;
    border-bottom: 2px solid #1B4f91;
}

#loginForm input.error {
    border-bottom: 2px solid #BA3949;
}

#notes{
    position: absolute;
    bottom: 20px;
    left: 0px;
    text-align: center;
    width: 100%;
}

#notes p{
    font-size:14px;
    color:#707070;
}

.doc-title{
    font-size: 18px;
    background-color: #f0f0f0;
    padding:10px;
    border-radius: 4px;
    line-height: 32.8px;
    position: relative;
}
.doc-del-btn{
    position: absolute;
    top: 14px;
    right: 35px;
    display:none;
    cursor: pointer;
}
.doc-del-btn img{
    height:12px;
    width: 12px;
}

#addDoctorBtn{
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    background-color: #D8D8D8;
    padding:5px;
    line-height: 32.8px;
    cursor: pointer;
}

#addDoctorBtn:active{
    background-color:#979797 ;
}

#timeSlot-0{
    display: none;
}

.addtimeSlotBtn{
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    background-color: #D8D8D8;
    padding:10px;
    line-height: 18px;
    cursor: pointer; 
}

.addtimeSlotBtn:active{
    background-color:#979797 ;
}

/* tab */
.tabs-wrapper{
    background-color: #F0F0F0;
    height: 52px;
    border-radius: 4px;
}

.tab{
    padding:10px;
    height: 40px;
    margin-top:6px;
    margin-bottom:6px;
    text-align: center;
    border-radius: 4px;
}

.tab.active{
    background-color: #fff;
}

.tabcontent,
.tabcontent2{
    display: none;
}

.tabcontent .form-label{
    line-height: 38px;
}

.tabcontent #testDetailForm .form-label,
.tabcontent #test2DetailForm .form-label{
    line-height: 14px;
}

.table-wrapper{
    padding:20px;
}

.testResult .form-row{
    padding:0px 5px 0px 5px;
}

.del-btn{
    width: 38px;
    height:38px;
    border:1px solid #D6D6D6;
    color:#050504;
    margin:0 auto;
    border-radius: 4px;
    position: relative;
}

.del-btn img{
    position: absolute;
    top:17px;
    left:12px;
}
/* end of tab */

.scan-wrapper{
    border-radius: 4px;
    border:1px solid #D6D6D6;
    background-color: #F0F0F0;
    min-height: 500px;
    padding:10px;
}

.status-wrapper{
    position: relative;
}

.status-wrapper .statusDot{
    border-radius: 50%;
    height: 16px;
    width: 16px;
    display: inline-block;
    /* position: relative; */
    /* top: 10px;
    left: 25px; */
    vertical-align: text-top;
}

.statusDot.right{
    background-color: #1CC88A;
}

.statusDot.error{
    background-color: #BA3949;
}

.statusDot.pending{
    background-color: #E8AC0C;
}

.info-title{
    color: #9B9B9B;
    display: block;
    font-size: 12px
}

.info-value {
    color: #050504;
    /*font-size: 1rem;*/
    font-size:14px;
}

.injBtn{
    border:1px solid #1B4f91;
    position: relative;
    cursor: pointer;
    transition: all .5s;
}

.injBtn.disable{
    cursor:no-drop;
    background-color: #f0f0f0;
    opacity: .5;
}


.injBtn div{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.injBtn img{
    width: 42px;
    height: 42px;
}

.injBtn span{
    margin-top:1rem;
    font-size: .8rem;
    display: block;
}

.injBtn.disable:active{
    text-decoration: none;
    background-color:#f0f0f0;
    opacity: .5;
}

.injBtn:active{
    background-color: #d6d6d6;
}

#qa .form-row,
#sig .form-row{
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 4px;
}

#qa .qaAns,
#sig .sigAns{
    background-color: #D6D6D6;
    width: 40px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
}

#qa .qaAns.right,
#sig .sigAns.right{
    color:#fff;
    background-color: #3982F3;

}

#qa .qaAnsExp,
#qa .sigAnsExp{
    color:#3982F3;
}

#lotNumber{
    border-radius: 4px 0px 0px 4px;
}

#scanLotBtn{
    border-radius: 0px 4px 4px 0px;
    background-color: #D8D8D8;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    color: #707070;
}

#scanLotBtn:active{
    background-color: #979797; 
    color:#050504;
}

#credActionBtn-wrapper .btn{
    height: 34px;
}

.jconfirm .jconfirm-box.jconfirm-type-blue{

    border-top: solid 7px #1B4f91;
    animation-name: none;
}

.accountTitle{
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #f0f0f0;
    padding:10px;
}

.creatAcBtn-wrapper{
    position: relative;
    border-left:1px solid #D8D8D8;
    text-align: center;
    max-height: 250px;
}

.creatAcBtn-wrapper .btn{
    position: relative;
}

.empty-ele{
    height:47px;
    margin-bottom: 1rem;
}


/* keyframes */
.loader-wrapper {
    position: fixed;
    z-index: 100;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: #fafafa;
}

.loader {
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    border-top: 2px solid #1B4f91;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    /* margin-right: -60px; */
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-bottom-1 {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}


@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {

        .form-item .form-textbox {
            padding-left: 15px!important;
            -webkit-appearance: none;
        }
    }
}