table{
    font-size:12px;
}

th,
td {
    /* text-align: center; */
}

.page-item.active .page-link {
    background-color: #1B4f91;
    border-color: #1B4f91;
}

.dataTables_filter label {
    float: right;
}

.dataTables_filter .btn {
    height: 31px;
    font-size: 0.875rem;
    max-width: 165px;
    line-height: 31px;
    padding:0px;
}

.btn.remove {
    background-color: #BA3949;
}

.dataTables_filter .btn:active {
    background-color: #BA3949 !important;
    color: #fff !important;
}

.dataTables_filter .btn img {
    width: 30px;
    height: 12px;
    position: relative;
    top: -2px;
}

td a img{
    width:14px;
    height:14px;
}

table input[type="checkbox"] {
    width: 15px;
    height: 15px;
}


/* The container */
table .container {
    display: block;
    position: relative;
    /* padding-left: 35px; */
    margin-bottom: 17px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
table .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #2196F3;
    border: 1px solid #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.table-status-wrapper{
    position: relative;
}

.table-status-wrapper .statusDot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    position: absolute;
    top: 17px;
    left: 5px;
}

.table-status-wrapper .statusDot.right,
.testResultStatus .statusDot.right{
    background-color: #1CC88A;
}


.table-status-wrapper .statusDot.error,
.testResultStatus .statusDot.error{
    background-color: #BA3949;
}


.table-status-wrapper .statusDot.pending
.testResultStatus .statusDot.pending{
    background-color: #E8AC0C;
}

.table-status-wrapper span{
    margin-left:8px;
}

.testResultStatus{
    position: relative;
}

.testResultStatus .statusDot{
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: -25px;
}

#patienttestRecord thead{
    border-bottom: 1px solid #D6D6D6;
}

#patienttestRecord thead tr th{
    padding-bottom: 10px;
}

#patienttestRecord tr td{
    padding-top:8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #f2f2f2;  
}

#patienttestRecord .table-status-wrapper .statusDot {
    position: relative;
    top: 1px;
    left: -12px;
}